<div class="container">

    <mat-spinner strokeWidth="4" diameter="42" *ngIf="!categoria"></mat-spinner>

    <mat-card *ngIf="categoria">
        <mat-card-header>
            <div mat-card-avatar class="avatar" fxLayout fxLayoutAlign="center center">
                <fa-icon size="lg" [icon]="categoria.icone">
                </fa-icon>
            </div>
            <mat-card-title>{{ sintoma.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ categoria.titulo }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="texto-justificado">
                {{ sintoma.descricao }}
            </p>

            <div *ngIf="!sintoma.disponivel" class="lista-vazia-container" fxLayout="row" fxLayoutAlign="center center">
                <fa-icon size="lg" [icon]="iconeListaVazia">
                </fa-icon>
                <p>
                    Desculpe, mas este sintoma ainda não está disponível
                </p>
                <fa-icon size="lg" [icon]="iconeListaVazia">
                </fa-icon>
            </div>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button color="primary" *ngIf="sintoma.disponivel" (click)="iniciarDiagnostico()"
                class="uppercase">
                Iniciar diagnóstico
                <fa-icon class="margin-esquerda-8" size="lg" [icon]="iconePlay">
                </fa-icon>
            </button>
        </mat-card-actions>


    </mat-card>

</div>
